html, body, figure, figcaption, ul, li, h1 {
  margin: 0;
  border: 0;
  padding: 0;
  border: 0;

  font: inherit;
  text-align: inherit;
  vertical-align: inherit;
  text-decoration: inherit;
  color: inherit;
  box-sizing: content-box;

  background: transparent;
}

body {
  display: flex;
  justify-content: center;
  background: #000;
  line-height: 0px;
  font-family: 'Dhurjati', sans-serif;


  align-self: center;


  flex-direction: column;
}

figure {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

h1 {
  display: flex;
  justify-content: center;
  margin: 10px auto;
}

ul {
  display: flex;
  flex-wrap: nowrap;
  list-style: none;
}

li {
  height: 25px;
  width: 25px;
  border: 1px solid #0d0d0d;
  border-width: -1px;;
}

h1 img {
  padding: 10px 0;
  margin-bottom: -4px;
  width: 187.5px;
  height: 50px;
}


.grey {
  background-color: grey;
}

.blue {
  background-color: blue;
}

.green {
  background-color: green;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

.purple {
  background-color: purple;
}

.orange {
  background-color: orange;
}

.withborder {
  border: 1px solid #fff;
}

#overlay {
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.8;
  filter: alpha(opacity=50);
}


#modal {
  display: flex;
  align-self: center;
  position:absolute;
  justify-content: space-around;
  flex-direction: column;
  background:url(tint20.png) 0 0 repeat;
  background:rgba(0,0,0,0.2);
  border-radius:10px;
  border: 3px solid #000;
  outline: 1px solid #fff;
  background: #fff;
  padding: 20px;
  font-size: 36px;
  text-align: center;
  vertical-align: center;
}

#gameoveroverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: .8;
  filter: alpha(opacity=50);
}


#gameovermodal {
  align-self: center;
  position: absolute;
  background:url(tint20.png) 0 0 repeat;
  background:rgba(0,0,0,0.2);
  border-radius:10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  font-size: 36px;
  text-align: center;
  vertical-align: center;
}

#graphic {
  display: flex;
  align-items: center;
  flex-direction: column;
}


#play {
  font-family: 'Dhurjati', sans-serif;
  font-weight: bold;
  font-size: 40px;
  border-radius:8px;
  background:#eee;
  padding:0 80px;
}

#play:hover {
  cursor: pointer;
}

#instructions-title {
  font-size: 36px;
  display: block;
  margin-top: 30px;
  margin-bottom: 30px;
}

.key-instruction-ctn {
  display: flex;
  align-content: flex-start;
}

.key-instruction {
  display: block;
  font-size: 30px;
}

.arrow {
  display: block;
  text-align: left;
  font-size: 30px;
  margin-top: 41px;
  margin-left: 30px;
  width: 30px;

}

.up {
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
  transform: rotate(90deg);
  margin-left: 25px;
}



.right {
  -ms-transform: rotate(180deg); /* IE 9 */
  -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
  transform: rotate(180deg);
  margin-left: 25px;
}


  .down {
    -ms-transform: rotate(270deg); /* IE 9 */
    -webkit-transform: rotate(270deg); /* Chrome, Safari, Opera */
    transform: rotate(270deg);
  }

  .key-text {
    margin-left: 20px;
  }

  .hold {
    font-size: 50px;
    text-align: center;
    margin-top: 33px;
  }



  .entire-screen {
    display: flex;
    flex-direction: column;
    align-items: center;

    align-self: center;
    justify-content: center;
  }

  /* Main Container */

  .main-ctn {
    display: flex;
    align-content: center;
    flex-direction: column;
  }

  .center-ctn {
    display: flex;
  }


  .tetris-grid {
    border: 1px solid #fff;
  }


  /* Right Container */


  .right-ctn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 120px 0 20px 0;
    width: 200px;
  }


  .right-ctn h1 {
    font-size: 30px;
    margin-bottom: 20px;
    color: #fff;
  }

  .right-ctn li {
    border: 1px solid #000;
  }

  /* Hold Piece Container */

  .holdPiece-ctn {
    padding-top: 10px;
    border: 1px solid #fff;
    width: 200px;
    margin: 87px 40px 0 0;
  }

  /* Next Piece Container */

  .nextPiece-ctn {
    padding-top: 10px;
    margin: -30px 0 0 40px;
    border: 1px solid #fff;

  }

  /* Pause Button */

    .pause-char {
      margin-left: 10px;
    }

    .pause-btn {
      width: 60px;
      margin-left: 141px;
      height: 60px;
      border-radius: 20%;
      background: #fff;
      text-align: center;
      font-weight: bold;
      font-size: 14px;

    }


    .pause-btn:hover {
      cursor: pointer;
    }

    .pause-btn:focus {
      outline:0;
    }

  /* Left Container */

  .left-ctn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: #fff;
  }

  .left-ctn li {
    border: 1px solid #000;
  }

  .score-ctn {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 30px;
    margin: 0 40px 20px 0px;
    border: 1px solid #fff;
    width: 150px;
    height: 200px;
  }

  .left-ctn h1 {
    font-size: 30px;
    margin: 20px;
  }

  .left-ctn p {
    font-size: 24px;
  }

  .score-result, .level-result, .lines-result {
    display: block;
    text-align: center;
    height: 12px;
    padding: 11px 0 0 0;
    border: 1px solid #fff;
  }

  .footer {
    color: #fff;
    font-size: 16px;
    font-weight: lighter;
    line-height: 1.66px;
    width: 1120px;
    text-align: center;
    margin-top: -20px;
  }

  .footer h3 {
    font-weight: normal;
    font-size: 36px;
  }

  .footer ul {
    display: flex;
    justify-content: center;
  }

  .footer li {
    display:flex;
    color: #fff;
    display: block;
    padding: 0 80px;
    border: none;
  }

  .logos {
			display: flex;
			justify-content: center;
			margin: 0px;
			padding: 0px;

	}

	.logo {
		padding: 0px;
    border: none;
		margin: 0;
		display: flex;
		flex-direction: column;
    align-items: center;
		list-style: none;
		height: 30px;
		width: 30px;
	}

  .title1 {
    margin-left: -10px;
  }

  .title2 {
    margin-left: -5px;
  }


  .title3 {
    margin-left: -10px;
  }




  #playagain {
    font-family: 'Dhurjati', sans-serif;
    font-weight: bold;
    font-size: 40px;
    color: #fff;
    background: #000;
    border: #000;
    padding:0 80px;
  }

  #playagain:hover {
    cursor: pointer;
    color: #eee;
  }

  #playagain:focus {
    outline: none;
  }
