html, body, figure, figcaption, ul, li, h1 {
  margin: 0;
  border: 0;
  padding: 0;
  border: 0;

  font: inherit;
  text-align: inherit;
  vertical-align: inherit;
  text-decoration: inherit;
  color: inherit;
  box-sizing: content-box;

  background: transparent;
}

body {
  display: flex;
  justify-content: center;
  background: #000;
  line-height: 0px;
  font-family: 'Dhurjati', sans-serif;
}

figure {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

h1 {
  display: flex;
  justify-content: center;
  margin: 10px auto;
}

ul {
  display: flex;
  flex-wrap: nowrap;
  list-style: none;
}

li {
  height: 40px;
  width: 40px;
  border: 1px solid #0d0d0d;
  border-width: -1px;;
}

h1 img {
  padding: 20px 0;
  width: 187.5px;
  height: 60px;
}


.grey {
  background-color: grey;
}

.blue {
  background-color: blue;
}

.green {
  background-color: green;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

.purple {
  background-color: purple;
}

.orange {
  background-color: orange;
}

.withborder {
  border: 1px solid #fff;
}


#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.8;
  filter: alpha(opacity=50);
}

#modal {
  position:absolute;
  background:url(tint20.png) 0 0 repeat;
  background:rgba(0,0,0,0.2);
  border-radius:10px;
  border: 3px solid #000;
  outline: 1px solid #fff;
  background: #fff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  font-size: 36px;
  text-align: center;
  vertical-align: center;
}

#play {
  font-family: 'Dhurjati', sans-serif;
  font-weight: bold;
  font-size: 40px;
  border-radius:8px;
  background:#eee;
  padding:0 80px;
}

#instructions-title {
  font-size: 36px;
  display: block;
  margin-top: 30px;
  margin-bottom: 30px;
}

.key-instruction-ctn {
  display: flex;
  justify-content: space-around;
}

.key-instruction {
  display: block;
  font-size: 30px;
}

.arrow {
  font-size: 30px;

  margin-top: 40px;

}

.up {
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
  transform: rotate(90deg);}


.right {
  -ms-transform: rotate(180deg); /* IE 9 */
  -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
  transform: rotate(180deg);}


  .down {
    -ms-transform: rotate(270deg); /* IE 9 */
    -webkit-transform: rotate(270deg); /* Chrome, Safari, Opera */
    transform: rotate(270deg);}
  }

  key-instruction-ctn p.rotatetext {
    margin-left: 100px;
  }


  /* Main Container */

  .main-ctn {
    display: flex;
    align-content: center;
    flex-direction: column;
  }

  .entire-screen {
    display: flex;
  }


  .tetris-grid {
    border: 1px solid #fff;
  }



  /* Right Container */


  .right-ctn {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 120px 0 20px 0;
  }


  .right-ctn h1 {
    font-size: 30px;
    margin-bottom: 20px;
    color: #fff;
  }

  .right-ctn li {
    border: 1px solid #000;
  }

  /* Next Piece Container */

  .nextPiece-ctn {
    padding: 30px;
    margin: -9px 0 0 40px;
    border: 1px solid #fff;

  }

  /* Pause Button */

    .pause-char {
      margin-left: 4px;
    }

    .pause-btn {
      width: 50px;
      height: 50px;
      background: green;
      margin: 440px 0 20px 20px;
      border-radius: 20%;
      background:url(tint20.png) 0 0 repeat;
      background:rgba(0,0,0,0.2);
      background: #fff;
      text-align: center;
      font-weight: bold;
    }

    .pause-btn:focus {
      outline:0;
    }

  /* Left Container */

  .left-ctn {
    display: flex;

    flex-direction: column;
    justify-content: flex-end;
    margin: 120px 0 20px 0;
    color: #fff;
  }

  .score-ctn {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 30px;
    margin: 0 20px 0px 20px;
    border: 1px solid #fff;
    width: 200px;
    height: 300px;
  }

  .left-ctn h1 {
    font-size: 30px;
    margin: 30px;
  }

  .left-ctn p {
    font-size: 24px;
  }

  .score-result {
    display: block;
    text-align: center;
    height: 12px;
    padding: 11px 0 0 0;
    border: 1px solid #fff;
  }
